body {
    width: 100%;
    height: 100%;
    .wrapper__gbox {
        width: 100%;
        .title {
            width: 100%;
            height: 100vh;
            background-color: rgb(34, 34, 34);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                overflow: hidden;

                .hidden {
                    color: white;
                    font-size: 65px;
                    font-family: prophetmedium, sans-serif;
                    span {
                        color: $primary-cl;
                    }
                }
            }
            .line__scroll {
                width: 5px;
                height: 100px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 120px;
                .line {
                    width: 2px;
                    height: 100%;
                    background-color: #fff;
                    transition: 0.4s;
                    animation: animMouseScroll 2s ease-in-out infinite;
                }
            }
        }
        .content {
            width: 100%;
            background-color: #fff;
            .container {
                width: 100%;
                height: 100%;
                &::before {
                    content: " ";
                    display: table;
                }
                .content__video {
                    position: relative;
                    padding-bottom: 50%;
                    // margin-top: -280px;
                    margin-top: -35vh;
                    height: 0;
                    overflow: hidden;
                    .video {
                        width: 100%;
                        height: 100%;
                        video {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .content__desc {
                    width: 100%;
                    display: flex;
                    margin-top: 20px;
                    .left {
                        width: 60%;
                        display: flex;
                        .header {
                            font-size: 22px;
                            font-family: prophetmedium, sans-serif;
                            font-weight: bold;
                            letter-spacing: 0.05em;
                            padding: 10px 0;
                            // text-align: center;
                            color: rgb(34, 34, 34);
                        }
                        p {
                            font-size: 18px;
                            font-family: prophetmedium, sans-serif;
                            letter-spacing: 0.03em;
                            // text-align: center;
                        }
                        .project__name {
                            width: 33.3333333%;
                        }
                        .project__date {
                            width: 33.3333333%;
                        }
                        .project__frontend {
                            width: 33.3333333%;
                        }
                    }
                    .right {
                        width: 40%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .project__visit {
                            margin-top: 10px;
                            display: flex;
                            align-items: center;
                            &:hover {
                                .img {
                                    .img1 {
                                        transform: translate(-50%, -50%) scale(1);
                                    }
                                    .img2 {
                                        transform: translate(150%, -50%) scale(0);
                                    }
                                }
                            }
                            p {
                                font-size: 23px;
                                font-weight: bold;
                                font-family: prophetmedium, sans-serif;
                                letter-spacing: 0.01em;
                                margin-right: 10px;
                            }
                            .img {
                                width: 50px;
                                height: 30px;
                                overflow: hidden;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                .img1 {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 30px;
                                    height: 30px;
                                    transform: translate(-150%, -50%) scale(0);
                                    transition: 0.6s cubic-bezier(0.51, 0.04, 0.08, 0.96);
                                }
                                .img2 {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 30px;
                                    height: 30px;
                                    transform: translate(-50%, -50%) scale(1);
                                    transition: 0.6s cubic-bezier(0.51, 0.04, 0.08, 0.96);
                                }
                            }
                        }
                    }
                }

                .content__img {
                    margin-top: 50px;
                    width: 100%;
                    min-height: 20vh;
                    // background-color: aqua;
                    .image {
                        background-color: black;
                        width: 100%;
                    }
                }
            }
        }
    }
}
